#greeting {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #084808;
}

#val_have {
    text-align: center;
}

#val_need {
    text-align: center;
}

#amount_need {
    margin-top: 10px;
}

#amount2 {
    text-align: center;
    margin-top: 10px;
}

#val1 {
    width: 200px;
    text-align: center;
}

#val2 {
    width: 200px;
    text-align: center;
}

#amount2 {
    width: 100px;
    text-align: center;
}

#change {
    color: #6a229d;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block {
    text-align: center;
    border-radius: 8px;
    border: 4px solid white;
    padding: 10px;
    font-size: 15pt;
    color: darkblue;
    margin-top: 10px;
}

.dropdown-select1, .dropdown-select2, #amount2 {
    text-align: center;
    border-radius: 5px;
    border: 4px solid white;
    padding: 5px;
    font-size: 13pt;
    color: darkblue;
}

.body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 100px 100px 20px;
    background: powderblue;
}

#result {
    color: #a41919;
    margin-top: 20px;
    font-size: 22pt;
    font-style: italic;
}

