<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>РУСТ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            fillData();
        });

        function fillData(page) {
            $.get('/api/insurers', function (result) {
                let rowsData = '';
                for (let i = 0; i < result._embedded.insurers.length; i++) {
                    let insurer = result._embedded.insurers[i];

                    var actionButton =
                        '<td>' +
                        '<a href="/insurer/edit?regNum=' + insurer.regNum + '"><img title="Редактировать" src="/images/edit.png"/></a>' +
                        '<a data-id="insurer_' + insurer.regNum + '" href="insurer.html"><img title="Удалить" src="/images/delete.png"/></a>' +
                        '</td>';


                    rowsData += '<tr><td>' + insurer.regNum + '</td>' +
                        '<td>' + insurer.inn + '</td>' +
                        '<td>' + insurer.ogrn + '</td>' +
                        '<td>' + insurer.name + '</td>' +
                        '<td>' + insurer.kpr + '</td>' +
                        '<td>' + insurer.statement + '</td>' +
                        '<td>' + insurer.kps + '</td>' +
                        // '<td>' + insurer.dateIn + '</td>' +
                        // '<td>' + insurer.dateOut + '</td>' +
                        actionButton +
                        '</tr>';
                }
                let insurerDataElement = $('#insurerData');
                insurerDataElement.html(rowsData);


                $('a[data-id^=insurer_]').one('click', function (event) {
                    if (confirm('Подтвердите удаление страхователя с рег № ' + insurer.regNum)) {
                        let regNum = $(this).attr('data-id').replace('insurer_', '');
                        $.ajax({
                            url: '/api/insurers/' + regNum,
                            type: 'DELETE',
                            success: function () {
                                location.href = '/insurers';
                            },
                            error: function (jqXHR, exception) {
                                if (jqXHR.status === 403) {
                                    alert('You have no right');
                                }
                            }
                        });
                    }
                    event.preventDefault();
                });

                $('#navigation').html(
                    (result.hasPrevious ? ('<a href="javascript:fillData(' + (result.currentPage - 1) + ')">' +
                        '<img title="Previous page" src="/images/previous.png"/>' +
                        '</a>') : '') +
                    'Current page <span>' + (result.page.number + 1) + '</span> of <span>' + result.page.totalPages + '</span>' +
                    (result.hasNext ? ('<a href="javascript:fillData(' + (result.currentPage + 1) + ')">' +
                        '<img title="Next page" src="/images/next.png"/>' +
                        '</a>') : ''));


            });
        }
    </script>
</head>
<body>
<p><strong>Реестр страхователей:</strong></p>

<div id="navigation"></div>
<table class="insurers">
    <thead>
    <tr>
        <th>Рег. №</th>
        <th>ИНН</th>
        <th>ОГРН</th>
        <th>Наименование</th>
        <th>КПР</th>
        <th>Состояние</th>
        <th>КПС</th>
<!--        <th>Дата постановки</th>-->
<!--        <th>Дата снятия</th>-->
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="insurerData"></tbody>
</table>
<div id="toolbar">
    <a th:href="@{/}" href="../index.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
    <a th:href="@{/insurer/add}" href="insurer.html"><img title="Add" th:src="@{/images/add.png}"/></a>
</div>
</body>
</html>